body{
  background:#0b1a2a;
  color:white;
  text-align:center;
  font-family:Arial;
  padding-top:60px;
}
input{
  padding:10px;
  font-size:16px;
}
button{
  padding:12px 25px;
  font-size:18px;
  background:#00ffaa;
  border:none;
  border-radius:6px;
  cursor:pointer;
}
